{% comment %}
  Only render basic page content for pages that don't have JSON templates with sections
  Pages with JSON templates (like page.features.json) will automatically render their sections
{% endcomment %}
<div class="container page-content">
  <h1>{{ page.title }}</h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>